div {
  /* border: 2px solid; */
  /* padding: 4px; */
}

body,
html {
  height: 100%;
}
* {
  /* border: 2px solid; */
  box-sizing: border-box;
  margin: 0px;
  /* padding: 2px; */
}

.jumbotron {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../static/src/pic1.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  border-radius: 0px 0px 140px 20px;
  margin-bottom: 0px;
  padding-bottom: 90px;
}

#profilepic {
  position: relative;
  min-width: 60px;
  min-height: 60px;
  max-height: 120px;
  width: 120px;
  margin-top: -60px;
  border: 5px solid rgba(255, 255, 255, 0.501);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}
.stats {
  width: 30%;
  float: left;
}

.tweets {
  width: 70%;
  float: right;
  min-width: 300px;
}
.tweets .border {
  padding-top: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 756px) {
  .stats,
  .tweets {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
}
